body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #3E236D; */
    background-color: #f88077;
    /* background-color: hsl(219, 48%, 8%); */
    /* background-image: url(../img/login-background.png); */
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(20% at right 70%);
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f2, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

* {
    box-sizing: border-box;
    font-family: 'Padauk', sans-serif;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #5c5c5c #0b111e;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #0b111e;
}

*::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 20px;
    border: 2px solid #0b111e;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    font-size: 16px;
}

.nva_bar,
.nva_bar header,
.nva_bar .menu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 10;
}

.nva_bar header {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 980px;
    height: 82.5px;
    top: 1rem;
}

.nva_bar header .logo p {
    font-family: 'Dancing Script', cursive;
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
}

.nva_bar header .logo img {
    width: 100px;
}

.nva_bar header .search input {
    width: 200px;
    height: 36px;
    border-radius: 1rem;
    border: 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    backdrop-filter: blur(100px);
    outline: none;
    background-image: url(../img/search-solid.svg);
    background-position: 10px 5px;
    background-size: 25px;
    background-repeat: no-repeat;
    font-weight: bold;
    padding: 3px 12px 0 40px;
    background-color: #fff;
}

.nva_bar header .search input:focus {
    color: #3E236D;
}

.nva_bar header,
.nva_bar .menu {
    background-color: hsl(219, 80%, 16%, .5);
    backdrop-filter: blur(40px);
    position: fixed;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
}

.nva_bar .menu {
    bottom: 1rem;
    height: 5rem;
    width: 320px;
    justify-content: space-between;
}

.menu a {
    /* height: 30px; */
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    /* background: #d800ff; */
    color: #fff;
    border-radius: 5rem;
}

.menu .active_link {
    color: #fff;
    background: linear-gradient(180deg, #d800ff, #d800ff33);
}

.empty {
    height: 102px;
    width: 0;
}


/* section-1 */

section,
.scrollBtn .horizontal-scroll,
.horizontal-scroll .storys-container,
.storys-container .story-circle,
.story-circle .story-img,
section .scrollBtn .btn-scroll {
    display: flex;
    justify-content: center;
}

section {
    align-items: center;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
}

section .scrollBtn {
    width: 614px;
    height: 118px;
    position: relative;
    margin-bottom: 45px;
}

section .scrollBtn .horizontal-scroll {
    height: 100%;
    background: linear-gradient(180deg, hsl(219deg 100% 50% / 50%), #df00cd73);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    z-index: 1;
}

section .scrollBtn .horizontal-scroll::-webkit-scrollbar {
    display: none;
}

section .scrollBtn .horizontal-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fa-caret-right:before,
.fa-caret-left:before {
    color: #ff00c8;
}

section .scrollBtn .btn-scroll {
    /* background-color: #fff; */
    background-color: #cfcfcf;
    backdrop-filter: blur(20px);
    color: #999;
    /* box-shadow: 0 0 10px #999; */
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin: 0 5px;
    z-index: 2;
    cursor: pointer;
    transition: 1s;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.btn-1 {
    left: 0;
}

.btn-2 {
    right: 0;
}

.scrollBtn .horizontal-scroll .storys-container {
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    position: absolute;
    left: 0;
    transition: 0.5s all ease-out;
}

.storys-container .story-circle {
    margin: 15px 10px;
    flex-direction: column;
    align-items: center;
    height: 93px;
    width: 72px;
    cursor: pointer;
}

.story-img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    align-items: center;
    background: linear-gradient(77deg, #00ffa1, #ff001f);
    animation: 2s linear 1s infinite loading;
}


/* .loading {} */

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes loadingno {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.story-circle img {
    display: block;
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: 2s linear 1s infinite loadingno;
}

.story-circle .userName {
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}


/* posts */

.posts {
    width: 614px;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50% / 50%), #df00cd73);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    margin-bottom: 60px;
    z-index: 1;
}

.posts,
.posts .header,
.posts .header .userContender,
.posts .footer,
.footer .lms,
.footer .comment_post form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}

.posts .header {
    flex-direction: row;
    height: 70px;
}

.posts .header .userContender {
    flex-direction: row;
    width: 544px;
    justify-content: flex-start;
}

.userContender .userImg {
    margin: 15px;
    background: linear-gradient(77deg, #00ffa1, #ff001f);
    border-radius: 50%;
    animation: 2s linear 1s infinite loading;
}

.userContender .userImg img {
    display: block;
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    animation: 2s linear 1s infinite loadingno;
}

.header .more {
    font-size: xx-large;
    width: 55px;
}

.header .more a {
    color: #fff;
}

.middle {
    display: flex;
    width: 100%;
    background: #000;
    border-radius: 15px;
}

.middle img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    min-height: 300px;
    max-height: 450px;
    border-radius: 15px;
}

.footer {
    width: 100%;
}

.footer .lms {
    width: 100%;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start;
}

.footer .lms i {
    margin: 0 8px;
    font-size: 22px;
    cursor: pointer;
}

.posts .footer .comments {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 3px 10px;
}

.posts .footer .comments a {
    color: #fff;
}

.footer .comment_post {
    width: 100%;
    height: 55px;
    padding: 10px;
}

.footer .comment_post form {
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
}

form input {
    border: 0;
    height: 100%;
    background-color: #ffff;
}

.comment_post form .postBtn {
    font-size: 15px;
    padding-right: 10px;
    font-weight: bold;
    color: #2C9AF4;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.comment_post form input:focus {
    color: #3E236D;
}

.footer .comment_post form .post_com {
    background: url(../img/emoji/face-grin-solid.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-color: #fff;
    background-size: 25px;
    background-position: 8px 5px;
    border-radius: 10px 0 0 10px;
    padding-left: 40px;
    font-weight: bold;
}


/* post */

.backgroundB,
.backgroundBc {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsl(0deg 0% 24% / 51%);
    ;
    z-index: 20;
}

.inputFile {
    cursor: pointer;
}

.pop {
    margin: 20px auto;
    padding: 20px;
    width: 584px;
    min-height: 300px;
    max-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50% / 80%), rgb(223 0 205 / 70%));
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    font-family: 'Padauk', sans-serif;
    font-weight: bold;
}

.pop .pop_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    color: #fff;
    position: absolute;
    top: 0;
    margin: 5px auto;
}

.pop_header .text,
.crop_header .text {
    font-size: 20px;
}

.bx-x {
    font-size: 40px;
}

.pop .pop_header .close,
.crop_header .crop_close {
    width: 40px;
    height: 40px;
    margin: 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    display: flex;
}

.drop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop .drop h2 {
    margin: 0;
    color: #bdabab;
}

.bx-cloud-upload {
    color: #fff;
    font-size: 70px;
}

.container-crop {
    box-sizing: border-box;
    padding: 30px;
    padding-top: 0;
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50% / 80%), rgb(223 0 205 / 70%));
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    font-family: 'Padauk', sans-serif;
    font-weight: bold;
}

.container-crop.container-crop .crop_header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 40px;
    color: #fff;
    padding: 10px 0 5px;
}

.crop_header .crop_close {
    margin: 8px 10px 0;
}

.img-container {
    background: antiquewhite;
    text-align: center;
    width: 100%;
    border-radius: 20px;
}

.container-crop .docs-buttons,
.container-crop #actions,
.docs-buttons,
.docs-buttons .btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container-crop #actions {
    position: relative;
}

.container-crop .docs-buttons {
    width: 100%;
    height: 220px;
    justify-content: flex-start;
}

.docs-buttons {
    margin: 20px auto 0;
    flex-direction: column;
}

.docs-buttons .btnGroup {
    margin: 10px;
    margin-bottom: 25px;
}

.docs-buttons .btnGroup .btnS {
    display: flex;
    margin: auto 20px;
}

.btnGroup .btnS button {
    width: 60px;
    margin: auto 3px;
    height: 30px;
    background-color: #fff;
    border: 0;
    border-radius: 10px;
}

.cropper-container.cropper-bg {
    width: 100%;
}

.docs-toggles {
    position: absolute;
    top: -39px;
    left: 2%;
}

.crop_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    font-family: 'Padauk', sans-serif;
}

textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    color: #3E236D;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-family: 'Padauk', sans-serif;
    font-size: 16px;
    resize: none;
    outline: none;
}

.btnSGreen {
    position: absolute;
    bottom: 4%;
    right: 10%;
}

.postCaption {
    width: 90px;
    height: 35px;
    background-color: rgb(51, 255, 0);
    border: 0;
    border-radius: 10px;
    /* color: #fff; */
    color: #3E236D;
    font-family: 'Padauk', sans-serif;
    font-weight: bold;
}

.ratios {
    display: flex;
    background: #000000a6;
    color: #fff;
    border-radius: 5px;
    /* flex-direction: column-reverse; */
    align-items: center;
}

.ratio {
    padding: 3px;
    border-left: 1px solid;
}

.cropper-wrap-box {
    background: antiquewhite;
    border-radius: 20px;
}

.cropper-modal {
    background-color: transparent;
    opacity: 0.1;
}

.img-container {
    max-height: 450px;
    min-height: 300px;
}

.cropper-container.cropper-bg,
.cropper-drag-box.cropper-crop.cropper-modal {
    border-radius: 20px;
}

.img-container>img {
    max-width: 100%;
}