body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f88077;
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(20% at right 70%);
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f2, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

* {
    box-sizing: border-box;
    font-family: 'Padauk', sans-serif;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #5c5c5c #0b111e;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #0b111e;
}

*::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 20px;
    border: 2px solid #0b111e;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    font-size: 16px;
}


/* section-1 */

section,
.scrollBtn .horizontal-scroll,
.horizontal-scroll .storys-container,
.storys-container .story-circle,
.story-circle .story-img,
section .scrollBtn .btn-scroll {
    display: flex;
    justify-content: center;
}

section {
    align-items: center;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
}

section .scrollBtn {
    width: 614px;
    height: 118px;
    position: relative;
    margin-bottom: 45px;
}

section .scrollBtn .horizontal-scroll {
    height: 100%;
    background: linear-gradient(180deg, hsl(219deg 100% 50% / 50%), #df00cd73);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    z-index: 1;
}

section .scrollBtn .horizontal-scroll::-webkit-scrollbar {
    display: none;
}

section .scrollBtn .horizontal-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fa-caret-right:before,
.fa-caret-left:before {
    color: #ff00c8;
}

section .scrollBtn .btn-scroll {
    /* background-color: #fff; */
    background-color: #cfcfcf;
    backdrop-filter: blur(20px);
    color: #999;
    /* box-shadow: 0 0 10px #999; */
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin: 0 5px;
    z-index: 2;
    cursor: pointer;
    transition: 1s;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.btn-1 {
    left: 0;
}

.btn-2 {
    right: 0;
}

.scrollBtn .horizontal-scroll .storys-container {
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    position: absolute;
    left: 0;
    transition: 0.5s all ease-out;
}

.storys-container .story-circle {
    margin: 15px 10px;
    flex-direction: column;
    align-items: center;
    height: 93px;
    width: 72px;
    cursor: pointer;
}

.story-img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    align-items: center;
    background: linear-gradient(77deg, #00ffa1, #ff001f);
    animation: 2s linear 1s infinite loading;
}


/* .loading {} */

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes loadingno {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.story-circle img {
    display: block;
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: 2s linear 1s infinite loadingno;
}

.story-circle .userName {
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}

#addStory {
    position: absolute;
    bottom: 43px;
    left: 56px;
    margin: 0;
    padding: 0;
    z-index: 2;
    background: #fff;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.storyPop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    z-index: 20;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storyPop .preview {
    width: 425px;
    height: 97vh;
    display: flex;
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50%), rgb(223 0 205));
    backdrop-filter: blur(5px);
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.storyClose {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    cursor: pointer;
}


/* Hide scrollbar for Chrome, Safari and Opera */


/* *::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

.storyPop .preview img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 15px;
}

#uploadStory {
    border: none;
    background: #fff;
    height: 35px;
    width: 95px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
}


/* posts */

.posts {
    width: 614px;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50% / 50%), #df00cd73);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    margin-bottom: 60px;
    z-index: 1;
    transition: width 2s;
}

.posts,
.posts .header,
.posts .header .userContender,
.posts .footer,
.footer .lms,
.footer .comment_post form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}

.posts .header {
    flex-direction: row;
    height: 70px;
}

.posts .header .userContender {
    flex-direction: row;
    width: 544px;
    justify-content: flex-start;
}

.userContender .userImg {
    margin: 15px;
    background: linear-gradient(77deg, #00ffa1, #ff001f);
    border-radius: 50%;
    animation: 2s linear 1s infinite loading;
}

.userContender .userImg img {
    display: block;
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    animation: 2s linear 1s infinite loadingno;
}

.userContender .AccountName {
    cursor: pointer;
}

.heart {
    cursor: pointer;
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
    animation: heart-burst .8s steps(28) 1;
    filter: drop-shadow(rgb(255, 255, 255) 0px 0px 0.75rem);
}

@keyframes heart-burst {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}

.header .more {
    font-size: xx-large;
    width: 55px;
}

.header .more a {
    color: #fff;
}

.middle {
    display: flex;
    width: 100%;
    background: #000;
    border-radius: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.middle img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    min-height: 300px;
    max-height: 450px;
    border-radius: 15px;
}

.footer {
    width: 100%;
}

.footer .lms {
    width: 100%;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start;
}

.footer .lms i {
    margin: 0 8px;
    font-size: 22px;
    cursor: pointer;
}

.caption {
    width: 100%;
    padding: 3px 10px;
}

.posts .footer .comments {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 3px 10px;
}

.posts .footer .comments a {
    color: #fff;
}

.footer .comment_post {
    width: 100%;
    height: 55px;
    padding: 10px;
}

.footer .comment_post form {
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
}

form input {
    border: 0;
    height: 100%;
    background-color: #ffff;
}

.comment_post form .postBtn {
    font-size: 15px;
    padding-right: 10px;
    font-weight: bold;
    color: #2C9AF4;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.comment_post form input:focus {
    color: #3E236D;
}

.footer .comment_post form .post_com {
    width: 100%;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
}

.deletePost {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .30);
    z-index: 20;
}

.deletePost .delete_box {
    margin: 20px auto;
    /* padding: 20px; */
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50%), rgb(223 0 205));
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    color: #fff;
}

.deletePost .delete_box div {
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 16px;
    cursor: pointer;
}

.deletePost .delete_box .delete {
    border-bottom: 1px solid #c9c9c9;
}

.likeComments {
    width: 100%;
    padding: 3px 10px;
}

.emojionearea.post_com.emojionearea-inline {
    border: none;
    height: 100%;
}

.emojionearea.emojionearea-inline>.emojionearea-editor {
    color: #3E236D;
}

div#posts {
    margin-bottom: 50px;
}

.popPost {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsl(0deg 0% 24% / 40%);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popPost .posts {
    margin: 0;
    backdrop-filter: blur(21px);
}

.cUser {
    display: flex;
    margin: 5px 0;
}

.cUser .cImg {
    width: 32px;
    height: 32px;
    /* display: block; */
}

.cUser div {
    margin: auto 5px;
}

.cusername {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.userComments {
    font-size: 16px;
    font-weight: 600;
    color: #2c0000;
}

.cUser .cImg img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid;
    background-color: #fff;
}

.popPost .posts .footer .comments {
    /* display: flex; */
    flex-direction: column;
}

.popPost .header .more a {
    color: transparent;
}

.emojionearea.post_com.emojionearea-inline {
    border: none;
    height: 100%;
}

.emojionearea.emojionearea-inline>.emojionearea-editor {
    color: #3E236D;
}

.comments::-webkit-scrollbar {
    display: none;
}

.comments {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.comments {
    flex-direction: column;
    max-height: 125px;
    overflow: auto;
}


/* post */

.backgroundB,
.backgroundBc {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsl(0deg 0% 24% / 51%);
    ;
    z-index: 20;
}

.inputFile {
    cursor: pointer;
}

.pop {
    margin: 20px auto;
    padding: 20px;
    width: 584px;
    min-height: 300px;
    max-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50% / 80%), rgb(223 0 205 / 70%));
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    font-family: 'Padauk', sans-serif;
    font-weight: bold;
}

.pop .pop_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    color: #fff;
    position: absolute;
    top: 0;
    margin: 5px auto;
}

.pop_header .text,
.crop_header .text {
    font-size: 20px;
}

.bx-x {
    font-size: 40px;
}

.pop .pop_header .close,
.crop_header .crop_close {
    width: 40px;
    height: 40px;
    margin: 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    display: flex;
}

.drop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop .drop h2 {
    margin: 0;
    color: #bdabab;
}

.bx-cloud-upload {
    color: #fff;
    font-size: 70px;
}

.container-crop {
    box-sizing: border-box;
    padding: 30px;
    padding-top: 0;
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50% / 80%), rgb(223 0 205 / 70%));
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    font-family: 'Padauk', sans-serif;
    font-weight: bold;
}

.container-crop.container-crop .crop_header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 40px;
    color: #fff;
    padding: 10px 0 5px;
}

.crop_header .crop_close {
    margin: 8px 10px 0;
}

.img-container {
    background: antiquewhite;
    text-align: center;
    width: 100%;
    border-radius: 20px;
}

.container-crop .docs-buttons,
.container-crop #actions,
.docs-buttons,
.docs-buttons .btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container-crop #actions {
    position: relative;
}

.container-crop .docs-buttons {
    width: 100%;
    height: 220px;
    justify-content: flex-start;
}

.docs-buttons {
    margin: 20px auto 0;
    flex-direction: column;
}

.docs-buttons .btnGroup {
    margin: 10px;
    margin-bottom: 25px;
}

.docs-buttons .btnGroup .btnS {
    display: flex;
    margin: auto 20px;
}

.btnGroup .btnS button {
    width: 60px;
    margin: auto 3px;
    height: 30px;
    background-color: #fff;
    border: 0;
    border-radius: 10px;
}

.cropper-container.cropper-bg {
    width: 100%;
}

.docs-toggles {
    position: absolute;
    top: -39px;
    left: 2%;
}

.crop_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    font-family: 'Padauk', sans-serif;
}

textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    color: #3E236D;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-family: 'Padauk', sans-serif;
    font-size: 16px;
    resize: none;
    outline: none;
}

.btnSGreen {
    position: absolute;
    bottom: 4%;
    right: 10%;
}

.postCaption {
    width: 90px;
    height: 35px;
    background-color: rgb(51, 255, 0);
    border: 0;
    border-radius: 10px;
    /* color: #fff; */
    color: #3E236D;
    font-family: 'Padauk', sans-serif;
    font-weight: bold;
}

.ratios {
    display: flex;
    background: #000000a6;
    color: #fff;
    border-radius: 5px;
    /* flex-direction: column-reverse; */
    align-items: center;
}

.ratio {
    padding: 3px;
    border-left: 1px solid;
}

.cropper-wrap-box {
    background: antiquewhite;
    border-radius: 20px;
}

.cropper-modal {
    background-color: transparent;
    opacity: 0.1;
}

.img-container {
    max-height: 450px;
    min-height: 300px;
}

.cropper-container.cropper-bg,
.cropper-drag-box.cropper-crop.cropper-modal {
    border-radius: 20px;
}

.img-container>img {
    max-width: 100%;
}

.notify_pop {
    position: fixed;
    top: 13%;
    right: 2%;
    transform: translateX(calc(100% + 15%));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.notification_pop {
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    background: linear-gradient(316deg, #0059ffb8, #df00cdd9);
    box-shadow: 20px 20px 15px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #fff;
    z-index: 3;
}

.active {
    transform: translateX(0%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.notification_pop .like,
.notification_pop .comment {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.notification_pop .like .userImg,
.notification_pop .comment .userImg {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 8px;
}

.notification_pop .like .userImg img,
.notification_pop .comment .userImg img {
    object-fit: cover;
    object-position: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.notification_pop .userDetail .username {
    display: flex;
    flex-direction: column;
}

.username span {
    color: #bbbbbb;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notify_pop .userDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    flex-direction: row;
}

.sharePost {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .30);
    z-index: 20;
}

.sharePost .share_box {
    width: 370px;
    max-height: 500px;
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50%), rgb(223 0 205));
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    color: #fff;
}

.share_box .shareN {
    width: 100%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.share_box .shareN h4 {
    font-weight: bold;
    cursor: auto;
}

.share_box .shareClose {
    position: absolute;
    right: 0;
    display: flex;
    margin: 10px;
}

.share_box .shareClose i {
    font-size: 30px;
    cursor: pointer;
}

.share_box .shareSearch {
    width: 100%;
}

.share_box .shareSearch .searchUser {
    width: 100%;
    height: 40px;
    border: 0;
    backdrop-filter: blur(100px);
    outline: none;
    background-image: url(../img/search-solid.svg);
    background-position: 3% 50%;
    background-size: 25px;
    background-repeat: no-repeat;
    font-weight: bold;
    padding: 0 12px 0 50px;
    background-color: #fff;
}

.share_box .chatUser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.share_box form {
    width: 100%;
}

.share_box .chatUser .sendPostUser {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-top: 2px solid gray;
}

.share_box .chatUser .sendPostUser .userImg {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 8px;
}

.share_box .chatUser .sendPostUser .userImg img {
    object-fit: cover;
    object-position: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.share_box .chatUser .sendPostUser .userDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    flex-direction: row;
}

.sendPostUser .userDetail .ues .username {
    display: flex;
    flex-direction: column;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -6px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 15px;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #d503cf;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

h4 {
    font-weight: 500;
    cursor: pointer;
    margin: 0;
}

.share_box form .sendP {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top: 2px solid gray;
}

.share_box form .sendP #sendPost {
    border: none;
    background: #009aff;
    height: 35px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}