html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.img {
    background: url(../img/login-background.png) no-repeat center center;
    min-height: 100vh;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
}

.logo img {
    width: 600px;
}

.contaner {
    transform: translate(1%, -50%);
    right: 1%;
    top: 50%;
}

.contaner-2,
.dob,
.otp_verification {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.contaner,
.contaner-2,
.dob,
.otp_verification {
    width: 883px;
    height: 899px;
    position: absolute;
}

.big-circle,
.small-circle,
.circle-dob,
.circle-otp,
.big-circle::before,
.small-circle::before,
.circle-dob::before,
.circle-otp::before {
    position: absolute;
    background: linear-gradient(149.67deg, rgb(158 0 255 / 74%) 29.27%, rgba(255, 0, 0, 0.67) 99.71%);
    border-radius: 50%;
}

.big-circle {
    width: 350px;
    height: 350px;
}

.big-circle::before {
    content: "";
    left: 530px;
    top: 550px;
    width: 350px;
    height: 350px;
}

.small-circle,
.circle-dob,
.circle-otp {
    right: 10%;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background: linear-gradient(149.67deg, #9E00FF 29.27%, rgba(255, 0, 0, 0.77) 99.71%);
}

.small-circle::before,
.circle-dob::before,
.circle-otp::before {
    content: "";
    right: 534px;
    top: 710px;
    width: 185px;
    height: 185px;
}

#errorLogin {
    font-size: 20px;
    color: red;
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
}

.circle-dob,
.circle-otp {
    right: 0;
}

.circle-dob::before {
    /* right: 450px;
    top: 440px; */
    right: 379px;
    top: 355px;
}

.circle-otp::before {
    right: 452px;
    top: 437px;
}

form {
    width: 883px;
    height: 899px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .card,
.card-2,
.dob form,
.otp_verification form {
    margin: 0 auto;
    width: 543px;
    height: 733px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    background: linear-gradient( 301deg, #ffffff5c, #ffffff26, #ffffff14, #ffffff00);
    border-top: 1.5px solid rgba(255, 255, 255, 0.5);
    border-left: 1.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    font-family: 'Padauk', sans-serif;
    z-index: 10;
}

.card-2 {
    justify-content: space-evenly;
}

::placeholder {
    color: #fff;
    padding: 4px;
}

.card .formgroup:first-child p {
    font-size: 64px;
    width: 370px;
    height: 90px;
}

.card-2 .formgroup-1:first-child p {
    font-size: 50px;
    margin: 0;
}

.card-2 .formgroup-1:first-child p,
.card .formgroup:first-child p {
    font-family: 'Dancing Script', cursive;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card .formgroup:nth-of-type(2) input,
.formgroup:nth-of-type(3) input {
    margin-bottom: 47px;
    padding-left: 20px;
    width: 350px;
    height: 63px;
}

.card .formgroup:nth-of-type(5) {
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.formgroup-6 input[type="submit"],
.formgroup input[type="submit"],
.dob form input[type="submit"],
.otp_verification form input[type="submit"] {
    cursor: pointer;
    padding: 0;
    height: 63px;
    width: 187px;
}

input#btnsubmit {
    margin-bottom: 20px;
}

.card .formgroup input:focus {
    color: #fff;
}

.card .formgroup:nth-of-type(5) a {
    margin: 25px 0 15px;
    color: #fff;
}

.card-2 .blur,
.card .blur {
    position: relative;
}

.card-2 .blur span,
.card .blur span {
    position: absolute;
    top: 17px;
    right: 11px;
    width: 30px;
}

a {
    text-decoration: none;
}

.card .formgroup:nth-of-type(5) span,
.formgroup-7 span {
    color: aqua;
}

hr {
    width: 401px;
    margin: 0;
    color: #fff;
}

.card-2 .formgroup-7 {
    font-size: 20px;
    text-align: center;
}

form input,
.blur input {
    background: linear-gradient( 90deg, #ffffff5c, #ffffff26, #ffffff14, #ffffff00);
    backdrop-filter: blur(170px);
    border: none;
    color: #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    font-size: 17px;
    box-shadow: 0px 4px 12px -1px rgba(0, 0, 0, 0.25), inset 0px 0px 2px rgba(255, 255, 255, 0.25);
    padding-left: 20px;
    padding-right: 48px;
    width: 350px;
    height: 63px;
}

.dob {
    width: 565px;
    height: 540px;
}

.otp_verification {
    width: 635px;
    height: 625px;
}

.dob form,
.otp_verification form {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-evenly;
}

.otp_verification form {
    width: 468px;
    height: 468px;
}

.dob form img,
.otp_verification form img {
    width: 150px;
    /* margin-bottom: 17px; */
}

.dob .dobsubmit .errordob,
.otp_verification .dobsubmit .errordob {
    position: relative;
}

.errordob .verror {
    position: absolute;
    top: 17px;
    right: 11px;
    width: 30px;
}

.errordob .verror img {
    width: 30px;
}

.flatpickr-month {
    border-radius: 20px;
}

.flatpickr-calendar.animate.open.arrowTop.arrowLeft {
    border-radius: 20px;
    width: 355px;
}

.flatpickr-innerContainer {
    justify-content: space-evenly;
}

.otp_verification form p {
    padding: 0;
    margin: 0;
    font-size: 21px;
    line-height: 0px;
}

.resend {
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
}