
RewriteEngine On

RewriteCond %{HTTP_REFERER} !^http://localhost/php/Widespread/ [NC]
 
RewriteRule \.(gif|jpg|jpeg|png|mp4|mov|mkv|flv|apng|avif|gif|jpg|jpeg|jfif|pjpeg|pjp|png|svg|webp|bmp|cur|ico|tiff|tif)$ - [F,L]

ErrorDocument 403 http://localhost/php/Widespread/errors/403.html
