body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f88077;
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(20% at right 70%);
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f2, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

* {
    box-sizing: border-box;
    font-family: 'Padauk', sans-serif;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    font-size: 16px;
}

.animation {
    position: fixed;
    top: 0;
    left: 0%;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, #ff00c8, #4001ff);
    clip-path: circle(100% at 50% 0%);
    /* clip-path: circle(0% at 50% 94%); */
    z-index: 1000;
    transition: 0.5s ease-out;
}

.is-active {
    left: 0%;
    clip-path: circle(0% at 50% 94%);
}

.nva_bar,
.nva_bar header,
.nva_bar .menu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 10;
}

.nva_bar header {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 980px;
    height: 82.5px;
    top: 1rem;
}

.nva_bar header .logo p {
    font-family: 'Dancing Script', cursive;
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
}

.nva_bar header .logo img {
    width: 100px;
}

.nva_bar header .search input {
    width: 200px;
    height: 36px;
    border-radius: 1rem;
    border: 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    backdrop-filter: blur(100px);
    outline: none;
    background-image: url(../img/search-solid.svg);
    background-position: 10px 5px;
    background-size: 25px;
    background-repeat: no-repeat;
    font-weight: bold;
    padding: 3px 12px 0 40px;
    background-color: #fff;
}

.nva_bar header .search input:focus {
    color: #3E236D;
}

.nva_bar header,
.nva_bar .menu {
    background-color: hsl(219, 80%, 16%, .5);
    backdrop-filter: blur(40px);
    position: fixed;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
}

.nva_bar .menu {
    bottom: 1rem;
    height: 5rem;
    width: 320px;
    justify-content: space-between;
}

.menu a {
    /* height: 30px; */
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    /* background: #d800ff; */
    color: #fff;
    border-radius: 5rem;
}

.menu .active_link {
    color: #fff;
    background: linear-gradient(180deg, #d800ff, #d800ff33);
}

.empty {
    height: 102px;
    width: 0;
}

.searchItem {
    position: fixed;
    background-color: #ffffffe0;
    backdrop-filter: blur(5px);
    width: 300px;
    height: 400px;
    z-index: 20;
    top: 12%;
    right: 19%;
    border-radius: 20px 0px 20px 20px;
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    overflow-y: auto;
    overflow-x: hidden;
    color: #000;
}

.searchItem a {
    color: #000;
}

.searchItem .like {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.searchItem .userImg {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 8px;
}

.searchItem .userImg img {
    object-fit: cover;
    object-position: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 2px solid #000;
}

.searchItem .userDetail .username {
    display: flex;
    flex-direction: column;
}

.searchItem::-webkit-scrollbar {
    display: none;
}

.searchItem {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.searchClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}