h2,
h3,
p {
    margin: 0;
}

.profile,
.profileDetail,
.profileDetail .userimg,
.profileDetail .userDetail,
.userDetail .ues,
.userDetail .pff,
.userDetail .userFullName,
.profile .postIcon {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.profile {
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    z-index: 2;
}

.profileDetail {
    width: 900px;
    max-width: 800px;
    min-width: 665px;
    height: 253px;
    border-radius: 20px;
    background: linear-gradient(316deg, #0059ffb8, #df00cdd9);
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
}

.profileDetail .userimg {
    height: 150px;
    margin-right: 75px;
    cursor: pointer;
}

.profileDetail .userimg img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 150px;
    border: 2px solid;
    border-radius: 50%;
}

.profileDetail .userDetail {
    flex-direction: column;
}

.userDetail .ues,
.userDetail .pff,
.userDetail .userFullName {
    flex-direction: row;
}

.userDetail .ues {
    margin-bottom: 20px;
    justify-content: flex-start;
    width: 100%;
}

.ues .username h2 {
    color: #fff;
    max-width: 175px;
    font-weight: 100;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ues .editProfile .follow {
    background: #00e8ffd1;
}

.ues .editProfile button {
    margin-left: 10px;
    border: none;
    background: #fff;
    height: 35px;
    width: 95px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.ues .setting,
.ues .setting a {
    width: 35px;
    height: 35px;
    margin-left: 2.5px;
}

.ues .setting a img {
    object-fit: contain;
    object-position: center;
    width: 35px;
    border-radius: 50%;
}

.userDetail .pff {
    justify-content: flex-start;
    width: 100%;
}

.pff .imgPost,
.pff .followers,
.pff .following {
    margin-right: 40px;
    margin-bottom: 20px;
    display: flex;
}

.pff .imgPost span,
.pff .followers span,
.pff .following span {
    font-weight: bold;
    margin: auto 10px;
}

.pff .followers,
.pff .following {
    cursor: pointer;
}

.userDetail .userFullName {
    width: 100%;
    justify-content: flex-start;
}

h3 {
    font-family: 'Syne Mono', monospace;
    font-weight: 500;
    min-width: 250px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile .postIcon {
    width: 900px;
    max-width: 800px;
    min-width: 665px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(316deg, #0059ffb8, #df00cdd9);
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
}

.profile .postIcon i {
    font-size: 25px;
    margin-right: 10px;
}

.profile .postIcon span {
    font-weight: bold;
}

.profile .postImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    max-width: 800px;
    min-width: 665px;
    margin-bottom: 100px;
}

.profile .pImg {
    width: 245px;
    height: 245px;
    margin-bottom: 2%;
    position: relative;
    cursor: pointer;
}

.profile .pImg img {
    object-fit: cover;
    object-position: center;
    width: 245px;
    height: 245px;
    border-radius: 10px;
    background-color: #fff;
}

#unfollow_pop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsl(0deg 0% 24% / 30%);
    z-index: 20;
    /* width: 120%; */
}

#unfollow_pop #upop {
    margin: 20px auto;
    padding: 20px;
    width: 370px;
    min-height: 270px;
    max-height: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50%), rgb(223 0 205));
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    font-family: 'Padauk', sans-serif;
    font-weight: bold;
}

#upop .unfollowimg {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#upop .unfollowimg img {
    object-fit: cover;
    object-position: center;
    height: 130px;
    width: 130px;
    border: 2px solid #fff;
    border-radius: 50%;
}

#upop .unfollowimg .unfollow_username {
    margin: 20px auto;
    color: #fff;
    font-weight: 100;
}

#upop .cu button {
    margin-left: 10px;
    border: none;
    background: #fff;
    height: 35px;
    width: 95px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.text-pop-up {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    z-index: 10;
}

.textNot {
    border-radius: 20px;
    background: linear-gradient(316deg, #0059ffb8, #df00cdd9);
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    width: 900px;
    max-width: 800px;
    min-width: 665px;
    width: 634px;
    height: 407px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 37px;
    color: #f88077;
    font-weight: bolder;
}

.text-pop-up .notFound {
    font-size: 150px;
    color: #efefef;
    font-weight: 800;
    font-family: 'Syne Mono', monospace;
    text-transform: uppercase;
    animation: text-pop-up 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

@keyframes text-pop-up {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        transform: translateY(-50px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

.setting_menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsl(0deg 0% 24% / 30%);
    z-index: 20;
}

.setting_menu .setting_box {
    margin: 20px auto;
    /* padding: 20px; */
    width: 370px;
    /* min-height: 270px;
    max-height: 430px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50%), rgb(223 0 205));
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    color: #fff;
}

.setting_menu .setting_box div,
.setting_menu .setting_box a {
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 16px;
    cursor: pointer;
}

.setting_menu .b {
    border-bottom: 1px solid gray;
}

.following_pop,
.followers_pop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0deg 0% 24% / 30%);
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.following_container,
.followers_container {
    display: flex;
    width: 400px;
    height: 400px;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(316deg, hsl(219deg 100% 50%), rgb(223 0 205));
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    color: #fff;
}

.following_container .close_p,
.followers_container .close_p {
    border-bottom: 1px solid gray;
    width: 100%;
}

.following_container .close_p p,
.followers_container .close_p p {
    font-size: 21px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.following_container .close_p i,
.followers_container .close_p i {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 32px;
    margin: 4px;
    cursor: pointer;
}

.addP {
    display: flex;
    padding: 20px 0;
    font-size: 60px;
    align-items: center;
    justify-content: center;
}

.suggestionsP {
    width: 100%;
    overflow-y: auto;
}

.suggestionsP::-webkit-scrollbar-track {
    background: #0b111e;
    border-radius: 0 0 20px 0;
}

.profileDetailp {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.profileDetailp .userImgp {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 8px;
}

.profileDetailp .userImgp img {
    object-fit: cover;
    object-position: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.userDetailp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    flex-direction: row;
}

.userDetailp .uesp {
    padding: 0 10px;
}

h4,
h5 {
    margin: 0;
}

h4 {
    font-weight: 500;
}

.h4 {
    margin-left: 15px;
}

h5 {
    font-weight: 100;
}

.userDetailp .followGroupp button {
    margin: auto 10px;
    border: none;
    background: #00e8ffd1;
    height: 35px;
    width: 105px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}