h2,
h3,
p {
    margin: 0;
}

.profile,
.profileDetail,
.profileDetail .userimg,
.profileDetail .userDetail,
.userDetail .ues,
.userDetail .pff,
.userDetail .userFullName,
.profile .postIcon {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.profile {
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    z-index: 2;
}

.profileDetail {
    width: 900px;
    max-width: 800px;
    min-width: 665px;
    height: 253px;
    border-radius: 20px;
    background: linear-gradient(316deg, #0059ffb8, #df00cdd9);
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
}

.profileDetail .userimg {
    height: 150px;
    margin-right: 75px;
    cursor: pointer;
}

.profileDetail .userimg img {
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 150px;
    border-radius: 50%;
}

.profileDetail .userDetail {
    flex-direction: column;
}

.userDetail .ues,
.userDetail .pff,
.userDetail .userFullName {
    flex-direction: row;
}

.userDetail .ues {
    margin-bottom: 20px;
}

.ues .username h2 {
    color: #fff;
    min-width: 175px;
    font-weight: 100;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ues .editProfile button {
    margin-left: 20px;
    border: none;
    background: #fff;
    height: 35px;
    width: 105px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.ues .setting,
.ues .setting a {
    width: 35px;
    height: 35px;
    margin-left: 2.5px;
}

.ues .setting a img {
    object-fit: contain;
    object-position: center;
    width: 35px;
    border-radius: 50%;
}

.userDetail .pff {
    justify-content: flex-start;
    width: 100%;
}

.pff .imgPost,
.pff .followers,
.pff .following {
    margin-right: 40px;
    margin-bottom: 20px;
    display: flex;
}

.pff .imgPost span,
.pff .followers span,
.pff .following span {
    font-weight: bold;
    margin: auto 10px;
}

.pff .followers,
.pff .following {
    cursor: pointer;
}

.userDetail .userFullName {
    width: 100%;
    justify-content: flex-start;
}

h3 {
    font-family: 'Syne Mono', monospace;
    font-weight: 500;
    min-width: 250px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile .postIcon {
    width: 900px;
    max-width: 800px;
    min-width: 665px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(316deg, #0059ffb8, #df00cdd9);
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
}

.profile .postIcon i {
    font-size: 25px;
    margin-right: 10px;
}

.profile .postIcon span {
    font-weight: bold;
}

.profile .postImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    max-width: 800px;
    min-width: 665px;
}

.profile .pImg {
    width: 245px;
    height: 245px;
    margin-bottom: 2%;
    position: relative;
    cursor: pointer;
}

.profile .pImg img {
    object-fit: cover;
    object-position: center;
    width: 245px;
    height: 245px;
    border-radius: 10px;
    background-color: #fff;
}